<!-- 引入模板布局 -->
{layout name="uekadmin"}
<style>
	
	.alert{
		padding:10px;
		display:none;
	}

</style>
<script src="../../../static/layer/layer.js"></script>

<!-- 内容 -->
<div class="col-md-10">
	
	<ol class="breadcrumb">
		<li><a href="{:url('index/index')}"><span class="glyphicon glyphicon-home"></span> 首页</a></li>
		<li><a href="{:url('admin/index')}">管理员管理</a></li>
		<li class="active">管理员列表</li>

		<button class="btn btn-primary btn-xs pull-right"><span class="glyphicon glyphicon-refresh"></span></button>
	</ol>

	<!-- 面版 -->
	<div class="panel panel-default">
		<div class="panel-heading">
			<button class="btn btn-danger" onclick="delAll()"><span class="glyphicon glyphicon-trash"></span> 批量删除</button>
			<a href="javascript:;"  data-toggle="modal" data-target="#addAdmin" class="btn btn-success">
				<span class="glyphicon glyphicon-plus"></span> 添加管理员
			</a>
			
			<p class="pull-right tots" >共有 {$tot} 条数据</p>
			<form action="" class="form-inline pull-right">
				<div class="form-group">
					<input type="text" name="search" value="{$_GET['search']|default=''}" class="form-control" placeholder="请输入你要搜索的内容" id="">
				</div>
				
				<input type="submit" value="搜索" class="btn btn-success">
			</form>


		</div>
		<table class="table-bordered table table-hover">
			<th><input type="checkbox" name="" class="all" id=""></th>
			<th>ID</th>
			<th>NAME</th>
			<th>注册时间</th>
			<th>上次登录时间</th>
			<th>状态</th>
			<th>操作</th>

			{volist name="list" id="value"}
			<tr>
				<td><input type="checkbox" name="" value="{$value['id']}" id=""></td>
				<td>{$value['id']}</td>
				<td>{$value.username}</td>
				<td>{:date("Y-m-d H:i:s",$value.time)}</td>
				<td><?php echo $value['logintime']?date("Y-m-d H:i:s",$value['logintime']):"该用户未登录";?></td>
				<td>
					{if condition="$value['status']"}
						<span class="btn btn-danger" onclick="status(this,{$value['id']},0)">黑名单</span>
					{else /}
						<span class="btn btn-success" onclick="status(this,{$value['id']},1)">白名单</span>
					{/if}
				</td>
				<td>
					<a href="javascript:;" onclick="find({$value['id']})" data-toggle="modal" data-target="#editAdmin" class="glyphicon glyphicon-pencil"></a>
					&nbsp;&nbsp;&nbsp;
					<a href="javascript:;" onclick="del(this,{$value['id']})" class="glyphicon glyphicon-trash"></a>
				</td>
			</tr>
			{/volist}
			

		</table>
		<!-- 分页效果 -->
		<div class="panel-footer">
			<nav style="text-align:center;">
				{$list->render()}
			</nav>

		</div>
	</div>
</div>


<!-- 添加页面的摸态框 -->
<div class="modal fade" id="addAdmin">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
				<h4 class="modal-title">添加管理员</h4>
			</div>
			<div class="modal-body">
				<form action="" id="addAdminForm">
					<div class="form-group ">
						<label for="">用户名</label>
						<input type="text" name="username" class="form-control addAdmin" placeholder="请输入管理员账号名" id="" >
						<div class="alert alert-warning"></div>

					</div>
					<div class="form-group">
						<label for="">密码</label>
						<input type="password" name="password" class="form-control addAdmin" placeholder="请输入管理员密码" id="" >
						<div class="alert alert-warning"></div>

					</div>
					<div class="form-group">
						<label for="">确认密码</label>
						<input type="password" name="repassword" class="form-control addAdmin" placeholder="请再次输入密码" id="" >
						<div class="alert alert-warning"></div>

					</div>

					<div class="form-group">
						<label for="">状态</label>
						<div>
							<label><input type="radio" name="status" checked value="0" id="">白名单</label>
							<label><input type="radio" name="status"  value="1" id="">黑名单</label>
						</div>
						
					</div>
					<div class="form-group pull-right">
						<input type="button" onclick="add()" value="提交" class="btn btn-success">
						<input type="reset" value="重置" class="btn btn-danger">
					</div>

					<div style="clear:both"></div>
				</form>
			</div>
			
		</div><!-- /.modal-content -->
	</div><!-- /.modal-dialog -->
</div><!-- /.modal -->


<!-- 修改页面的摸态框 -->
<div class="modal fade" id="editAdmin">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
				<h4 class="modal-title">修改管理员</h4>
			</div>
			<div class="modal-body">
				<form action="" id="editAdminForm">
					
				</form>
			</div>
			
		</div><!-- /.modal-content -->
	</div><!-- /.modal-dialog -->
</div><!-- /.modal -->
<script>
	// ajax 修改用户状态

	function status(obj,id,status){

		// 发送ajax请求

		$.get("{:url('/status')}",{id:id,status:status},function(data){

			// 通过判断

			if (data==1) {
				layer.msg("修改状态成功",{icon: 1,time:1000},function(){

					// 如果修改成功

					// 根据状态值，修改状态的显示
					if (status==1) {

						$(obj).parent().html('<span class="btn btn-danger" onclick="status(this,'+id+',0)">黑名单</span>');
					}else{

						$(obj).parent().html('<span class="btn btn-success" onclick="status(this,'+id+',1)">白名单</span>');

					}
				});

			}else{
				layer.msg("修改状态失败",{icon:2});
			}
		});

	}
	// 查询对应的数据

	function find(id){

		// 发送ajax请求

		$.get("{:url('/find')}",{id:id},function(data){
			$("#editAdminForm").html(data);
		})
	}
	// 无刷新的删除

	function del(obj,id){
		//询问框

		layer.confirm('您确认要删除？', {
		  btn: ['确认','取消'] //按钮
		}, function(){
		  	// 发送ajax请求删除

		  	$.get("{:url('/del')}",{str:id},function(data){

		  		// 判断返回值
		  		if (data==1) {
					layer.msg('删除成功');
					$(obj).parent().parent().remove();
		  			layer.close();

		  		}else{
					layer.msg('删除失败');
		  			layer.close();
		  		}
		  	})
		}, function(){
		  	// 取消按钮相关处理
		  	layer.close();
		});


	}
	// 删除所有的方法

	function delAll(){
		//询问框

		layer.confirm('您确认要删除？', {
		  btn: ['确认','取消'] //按钮
		}, function(){
		  	// 确认按钮相关的处理
		  	let checkbox = $("[type=checkbox]:checked").not(".all");

		  	let str = "0";
		  	checkbox.each(function(){

		  		str+=','+$(this).val();
				alert(str);
				
		  	});

			
		 	// 发送ajax请求删除

		 	$.get("{:url('/del')}",{str:str},function(data){
		 		// 判断是否删除成功

		 		if (data==1) {

					layer.msg('删除成功',{time:1000},function(){
						window.location.reload();
					});
		 		}else{
					layer.msg('删除失败');
		  			layer.close();

		 		}
		 	})
		}, function(){
		  	// 取消按钮相关处理
		  	layer.close();
		});
	}
	// 复选框

	$(".all[type=checkbox]").click(function(){

		let checked = $(this).prop("checked");

		$("[type=checkbox]").not(".all").prop("checked",checked);
	});
	// 检测用户名

	$(".addAdmin[name=username]").blur(function(){
		// 获取输入框中的内容

		let val = $(this).val();

		// 判断内容是否存在

		if (val) {
			// 判断用户名长度
			if (val.length>=6 && val.length<=12) {
				// 检测用户名是否注册

				$.get("{:url('/username')}",{username:val},function(data){
					// 根据data进行判断

					if (data==1) {
						$(".addAdmin[name=username]").next().show(100).html('用户名已经注册');
						$(".addAdmin[name=username]").attr("isok",0);

					}else{

						$(".addAdmin[name=username]").next().hide(100);
						$(".addAdmin[name=username]").attr("isok",1);

					}
				})
			}else{
				$(this).next().show(100).html('用户名长度6-12位');
				$(this).attr("isOk",0);

			}
		}else{
			$(this).next().show(100).html('请输入用户名');
			$(this).attr("isOk",0);
		}

		
	});

	// 检测密码
	$(".addAdmin[name=password]").blur(function(){
		// 获取输入框中的内容

		let val = $(this).val();

		// 判断用户是否输入密码

		if (val) {
			// 检测密码长度
			if (val.length>=6 && val.length<=12) {
				$(this).next().hide(100);
				$(this).attr("isOk",1);


			}else{
				$(this).next().show(100).html('密码长度6-12为之间');
				$(this).attr("isOk",0);

			}
		}else{
			$(this).next().show(100).html('请输入密码');
			$(this).attr("isOk",0);


		}
	});

	// 确认密码

	$(".addAdmin[name=repassword]").blur(function(){
		// 获取到确认密码

		let repass = $(this).val();
		let pass = $(".addAdmin[name=password]").val();

		// 判断密码是否一致

		if (repass == pass && pass) {
			$(this).next().hide(100);
			$(this).attr("isOk",1);

		}else{
			$(this).next().show(100).html('两次密码不一致');
			$(this).attr("isOk",0);


		}
	});

	// 提交表单方法

	function add(){
		// 让所有的input失去焦点
		$(".addAdmin").blur();

		// 判断每一个输入框是否成功
		let tot=0;
		$(".addAdmin").each(function(){

			tot+=Number($(this).attr("isok"));
		});

		// 判断是否提交

		if (tot == $(".addAdmin").length) {

			let str = $("#addAdminForm").serializeArray();


			// 发送ajax请求

			$.post("{:url('/add')}",str,function(data){

				// 字符串转换json

				let json = eval("("+data+")");

				// 判断

				if (json.code==200) {

					layer.msg(json.info,{time:1000},function(){
						// 成功重新加载本页面
						window.location.reload();
					});
				
				}else{

					// 提示增加失败
					layer.msg(json.info);

					// 重新添加
				}
			});

		};

	}
</script>